<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Selection</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="/record/1">Stillwater Bayou 河口</a></li>
            <li><a href="/record/2">Lawson Delta 三角洲</a></li>
            <li><a href="/record/3">DeSalle 德萨莱</a></li>
        </ul>
    </nav>

<div class="map">
  <h1 id="map-num">Map <%= mapNumber %></h1>
  <h1><%= mapName %></h1>
  <div class="map-pieces">
      <% mapPieces.forEach(piece => { %>
          <img class="map-piece" src="<%= piece.image %>" alt="<%= piece.id %>" data-id="<%= piece.id %>">
      <% }); %>
  </div>
  <div class="buttons-container">
      <button id="okBtn">OK</button>
      <button id="resetBtn">Reset</button>
  </div>
</div>

<script src="/scripts/record.js"></script>
</body>
</html>
